.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.header__logo {
  margin-left: 48px;
}

.header__search {
  padding: 10px;

  display: flex;
  align-items: center;
}

.header__searchContainer {
  border: 1px solid #31363a;
  border-radius: 4px;
  width: 475px;
  height: 36px;
  position: relative;
}

.header__searchContainer:hover {
  background-color: rgb(30 33 36);
}

.header__searchContainer input {
  background-color: transparent;
  border: none;
  width: 400px;
  margin-left: 32px;
  margin-right: 5px;
  color: white;
  outline: none;

  height: 36px;
  display: flex;
  justify-content: space-between;
}
.header__searchIcon {
  color: white;
  position: absolute;
  left: 6px;
  top: 7px;
}

.header__menuItems {
  margin-left: 48px;
  margin-right: 48px;
}
.header__menuItems a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}

.header__menuItems a:hover {
  color: #5ac53b;
}
